.code-block-caption .caption-number {
    margin-right: 0.5em;
}

figure.align-default {
    text-align: center;
}

figure.align-default figcaption {
    text-align: center;
}


/* left-align signatures */
dt.sig {
    text-indent: -2.9rem;
}
.sig-object a.headerlink {
    margin-left: 10px;
}


/* visbility and opacity of code links */
.linkcode-link {
    opacity: 0.5;
}
.linkcode-link:hover {
    opacity: 1.0;
}
.sig-object:hover a.reference.external {
    visibility: visible;
}
a.reference.external:has(.linkcode-link) {
    visibility: hidden;
    margin-left: 4px;
    text-decoration: none;
}


/* center align graphviz objects */
.graphviz object {
  display: block;
  margin: 0 auto;
}

:root {
  --graphviz-filter: none;
  --graphviz-blend: normal;
}

@media (prefers-color-scheme: dark) {
  :root { --graphviz-filter: invert(); --graphviz-blend: screen; }
}

[data-color-mode="dark"] {
  --graphviz-filter: invert(); --graphviz-blend: screen;
}

[data-color-mode="light"] {
  --graphviz-filter: none; --graphviz-blend: normal;
}

img.graphviz, object.graphviz, img.plot-directive, img.invert {
  filter: var(--graphviz-filter);
  mix-blend-mode: var(--graphviz-blend);
}

.sy-head-brand img {
  height: 40px;
}

/* Hide the top "View page source" breadcrumb link */
.wy-breadcrumbs-aside {
    display: none !important;
}

table.autosummary td:first-child { white-space: nowrap; }
table.autosummary td:last-child  { width: 100%; }
